.f1 {
  
    left: 0;
    bottom: 0;
    width: 100%;
    
   
   
}

.navbar-default{
  background: black;
  border:0;	
}

.navbar-brand{
	fornt-size:20px;
	color:#000 !important;
    font-weight:bold;	
}


.rdsimg{
	margin-left:150px;
	margin-top:120px;
}
.rds{
	margin-bottom: 100px;
	padding-right: 100px;
}
.capcolor{
	color:purple;
}
.aline{
	text-align: justify;
}
.about{
	padding-left: 10px;
	padding-right: 10px;
	text-align: justify;
	background-color:#eee;
	font-size: 18px;
}
#SupButton{
	padding-top: 10px;
	padding-bottom: 10px;
}
