{% extends 'mod1/base3.html' %}
{% block body %}
 <div class="container" style="background-color: #383838;">
    <div class="row" style="color: white; margin-top: 70px;font-size: 18px;">

   <div class="col-md-6">
      <div class="embed-responsive embed-responsive-4by3" >
          <iframe width="560" height="315" src="https://www.youtube.com/embed/_oWa4fWAqTY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
       </div>   
      <div>
          <div style="text-align: justify; margin-right: 20px; margin-left: 20px;">
              Amazon Aurora is a MySQL and PostgreSQL compatible relational database built for the cloud, that combines the performance and availability of high-end commercial databases with the simplicity and cost-effectiveness of open source databases.<br/>

               Aurora is up to five times faster than standard MySQL databases and three times faster than standard PostgreSQL databases. It provides the security, availability, and reliability of commercial-grade databases at 1/10th the cost. Aurora is fully managed by Amazon Relational Database Service (RDS), which automates time-consuming administration tasks like hardware provisioning, database setup, patching, and backups.<br/>

               Aurora features a distributed, fault-tolerant, self-healing storage system that auto-scales up to 64TB per database instance. Aurora delivers high performance and availability with up to 15 low-latency read replicas, point-in-time recovery, continuous backup to Amazon S3, and replication across three Availability Zones.<br/>
                
                Amazon Aurora is a hosted relational database service developed and offered by Amazon.Aurora is available as part of the Amazon Relational Database Service (RDS). Although it is a proprietary technology,it is based on the open-source MySQL database.<br/>
                Aurora does not require the user to provision database storage, as it automatically allocates storage in 10-gigabyte increments, as needed, up to a maximum of 64 terabytes.Aurora offers automatic, six-way replication of those 10-gigabyte chunks across multiple locations for improved availability and fault-tolerance. Aurora also provides users with more comprehensive performance metrics, such as query throughput and latency, as compared to other RDS database engines.<br/>
                Amazon designed Aurora to be compatible with MySQL, meaning that tools for querying or managing MySQL databases (such as the mysql command-line client and the MySQL Workbench graphical user-interface) work with Amazon Aurora databases as well. Not all MySQL options and features are available, however: as of September  2016, Amazon Aurora is only compatible with one version of MySQL (5.6), and supports only InnoDB as a storage engine.<br/>
                Amazon claims fivefold performance improvements on benchmarking tests, due to "tightly integrating the database engine with an SSD-based virtualized storage layer purpose-built for database workloads, reducing writes to the storage system, minimizing lock contention and eliminating delays created by database process threads".Other independent tests have shown that Aurora performs better than competing technologies on some, but not all, combinations of workload and instance type.<br/>
               

                <b><h2>Customers</h2></b>
                General Electric, Nasdaq, Expedia, Ticketmaster, Pearson etc.


                
     </div>
    </div>
   </div>
  </div>
   <div class="f1" style="color:white;">
      <footer class="site-footer row" style=" background: black; padding-left: 20px;">
       <div class="col-md-6"> <h3>Contact us<br></h3>
          <p>  Email: abc@amazon.com<br>
               Mobile no: +919906810610,+919797108430</p>
       </div>
       <div class="col-md-6" style="text-align: right; padding-right: 50px; padding-top: 20px;">
        <a style="padding-right: 20px; color: white;" href="#">Why RDS?</a>
        <a style="color: white;" href="#">Advantages of Database in cloud</a>
       </div> 
      </footer>
    </div>
           

           
       
       
   {% endblock %}















        