{% load  staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <title>Fullscreen Background Image Slideshow with CSS3</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="Fullscreen Background Image Slideshow with CSS3 - A Css-only fullscreen background image slideshow" />
        <meta name="keywords" content="css3, css-only, fullscreen, background, slideshow, images, content" />
        <meta name="author" content="Codrops" />
       <!-- <link rel="shortcut icon" href="../favicon.ico"> -->
       <link rel="stylesheet" type="text/css" href="{% static 'mod1/css/bootstrap.min.css' %}"/>
       <link rel="stylesheet" type="text/css" href="{% static 'mod1/css/style.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'mod1/css/demo.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'mod1/css/style1.css' %}" />
        <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'mod1/js/demoad.js' %}"></script>
   <script src="{%static 'mod1/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'mod1/js/modernizr.custom.86080.js' %}"></script>
<script type="text/javascript">
    // Please don't use this code on your site, use your own GA code
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-7243260-2']);
    _gaq.push(['_trackPageview']);

      (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  </script>
    </head>
    <body id="page">
        <ul class="cb-slideshow">
            <li><span>Image 01</span></li>
            <li><span>Image 02</span></li>
            <li><span>Image 03</span></li>
            <li><span>Image 04</span></li>
            
        </ul>


       
            <!-- Codrops top bar -->
            <div class="codrops-top" style="position: fixed;">
                <a>
                    <strong>&laquo; RDS Helpdesk: </strong>Learn about Common Support Issues
                </a>
                <span class="right" style="margin-right: 15px;">
                    <a href="{% url 'mod1:home' %}" target="_blank">Home</a>
                    <a href="#about1" target="_blank">About</a>
                    <a href="{% url 'mod1:myaccount' %}">
                        Myaccount
                    </a>
                     <a href="{% url 'mod1:index' %}">
                        Logout
                    </a>
                </span>
                <div class="clr"></div>
            </div><!--/ Codrops top bar -->
             <div class="container-fluid">
            <header>
                <h1>Amazon RDS <span>Website</span></h1>
                <h2>Know About Various Features of RDS</h2>
        <p class="codrops-demos">
          <a href="{% url 'mod1:rds' %}" class="current-demo">About RDS</a>
          <a href="{% url 'mod1:mysql' %}">About Mysql</a>
          <a href="{% url 'mod1:oracle' %}">About Oracle</a>
          <a href="{% url 'mod1:mariadb' %}">About MariaDB</a>
        </p>
            </header>
      <div style="margin-top: 900px; margin-bottom: 300px; padding-top: 30px; background-color: #383838;">
              
       <div class="row">
         <div class="col-md-4"><a href="{% url 'mod1:aurora' %}"><img src="https://s3.ap-south-1.amazonaws.com/xray-frontend/Aurora.jpg" href="google.com"></a></div>
        <div class="col-md-4"><a href="{% url 'mod1:redshift' %}"><img src="https://s3.ap-south-1.amazonaws.com/xray-frontend/redshift.jpg"></a></div>
        <div class="col-md-4"><a href="{% url 'mod1:sqlserver' %}"><img src="https://s3.ap-south-1.amazonaws.com/xray-frontend/sqlServer.jpg"></a></div>
    </div>

    

  <div id="about1" style="padding-left: 20px; padding-right: 10px;padding-top: 30px; color: white;">
  <center> <strong> <h1 style="font-size: 35px;">About us:</h1></strong></center><hr/><p style="font-size: 30px; text-align: justify; padding-top: 30px;: ">The RDS mission is to provide you with environmentally-friendly digital printing solutions that help you reduce costs and improve business efficiency.

Our expertise in digital document and printing solutions is a result of the many years of experience in the industry. With our remote diagnostic center, proactive maintenance program, and highly skilled technicians, our goal is to minimize your worry and maximize your productivity. Learn more about our products and services

With over 4,000 units in stock, RDS is South Florida’s premier source for Multifunction Copiers, Printers, Fax Machines and Business Solutions including Cloud Computing, Networking Solutions, Document Management, IT Solutions and more.
      
    </p>
  </div>


 </div>
 </div>
  <div class="f1" style="color:white; position: fixed;">
      <footer class="site-footer row" style=" background: black; padding-left: 20px;">
       <div class="col-md-6"> <h3>Contact us<br></h3>
          <p>  Email: abc@amazon.com<br>
               Mobile no: +919906810610,+919797108430</p>
       </div>
       <div class="col-md-6" style="text-align: right; padding-right: 50px; padding-top: 20px;">
        <a style="padding-right: 20px; color: white;" href="#">Why RDS?</a>
        <a style="color: white;" href="#">Advantages of Database in cloud</a>
       </div> 
      </footer>
    </div>

    </body>
</html>