{% extends 'mod1/form_template.html' %}

{% block body %}
<body style="color: black;"> 
<div>
<center style=" margin-top: 50px;"><b><h1>Hello and Welcome to Amazon RDS Common Support Issues.</h1></b><br><br>
<br><br>

	
    
      <h1> Login Form  </h1><br><br>
    <body>
      {% if form.errors %}
       <p>Your username and password didn't match. Please try again.</p>
       {% endif %}
       <form method="post" >
       {% csrf_token %}

	   <div class="form-group" style="color: black;">
         {{ form.as_p}}
       </div>

       <div style="margin-left: 70px;color: black;"><input type="submit" value="login"/></div>
       <input type="hidden" name="next" value="/" />
       </form>
        <p class="message" style="margin-left: 30px;">Not registered? <a href="{% url 'mod1:register' %}">Create an account</a></p>
        </center>

    </div>
    
   
  </body>
{% endblock %}    














