{% extends 'mod1/base3.html' %}
{% block body %}
                 <iframe width="560" height="315" src="https://www.youtube.com/embed/B_dHsTLt674" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
               </div>
            </div>    
            <div style="font-size: 20px;">  
              MariaDB is a community-developed fork of the MySQL relational database management system intended to remain free under the GNU GPL. Development is led by some of the original developers of MySQL, who forked it due to concerns over its acquisition by Oracle Corporation.Contributors are required to share their copyright with the MariaDB Foundation.<br/>

              MariaDB intends to maintain high compatibility with MySQL, ensuring a drop-in replacement capability with library binary equivalency and exact matching with MySQL APIs and commands. It includes the XtraDB storage engine for replacing InnoDB,[8] as well as a new storage engine, Aria, that intends to be both a transactional and non-transactional engine perhaps even included in future versions of MySQL.<br/>

              Its lead developer is Michael "Monty" Widenius, one of the founders of MySQL AB and the founder of Monty Program AB. On 16 January 2008, MySQL AB announced that it had agreed to be acquired by Sun Microsystems for approximately $1 billion. The acquisition completed on 26 February 2008. MariaDB is named after Monty's younger daughter Maria, similar to how MySQL is named after his other daughter My.<br/>
              <h3>Versioning</h3>

              MariaDB version numbers follow the MySQL's numbering scheme up to version 5.5. Thus, MariaDB 5.5 offers all of the MySQL 5.5 features. There exists a gap in MySQL versions between 5.1 and 5.5, while MariaDB issued 5.2 and 5.3 point releases.<br/>

             After the 5.5 version, MariaDB developers decided to start a branch numbered 10, as an attempt to make it clear that MariaDB 10.0 will not import all features from MySQL 5.6; however, they might be imported in future versions. Since specific new features have been developed in MariaDB, the developers decided that a major version number change was necessary.<br/>
             <h3>Companies which uses Mariadb are Google, Wikipedia, Tumblr, Olx, Nimbuzz, WiredTree etc.</h3> 

                

         {% endblock %}