{% extends 'mod1/base3.html'%}
{% block body %}

<head>
  <script>
  function fun1() {
   document.querySelector(".browser1").setAttribute("src", "https://oxrl7bj005.execute-api.us-east-1.amazonaws.com/dev/");
  }
  </script>

  <script>
  function fun2() {
   document.querySelector(".browser1").setAttribute("src", "https://418yi5bho2.execute-api.us-east-1.amazonaws.com/dev/");
  }
  </script>

  <script>
  function fun3() {
   document.querySelector(".browser1").setAttribute("src", "https://scosipmb3k.execute-api.us-east-1.amazonaws.com/dev/");
  }
  </script>

 <script>
  function fun4() {
   document.querySelector(".browser1").setAttribute("src", "https://74eetua1nd.execute-api.us-east-1.amazonaws.com/dev/");
  }
  </script>

<style type="text/css">

.browser1{
  display: inline-block;
  position: relative;
  width: 550px !important;
  height: 300px !important;
  background: #efefef;
  margin-bottom: 30px;
 }

  .alpha60 {
    filter: alpha(opacity=90);
  filter: progid: DXImageTransform.Microsoft.Alpha(opacity=90);
  -moz-opacity: 0.90;
  opacity: 0.9;
}

</style>
</head>


<br/>
<div class="container alpha60" style="margin-top: 20px; color: white; background-color: #383838;">

<center><h2 style="margin-top: 10px;"><b>MySQL common support issues:</b></h2></center>
<div class="row" style="margin-top: 20px;  font-size: 18px;">
<b>  <div class="col-md-6">
<div class="form-check">
    <input class="form-check-input" name="group100" type="radio" id="radio100" onclick="fun1()"
    <label class="form-check-label" for="radio100">How do I stop a running query on my RDS instance running MySQL?</label>
</div>


<!--https://aws.amazon.com/premiumsupport/knowledge-center/stop-running-rds-mysql-query/-->

<div class="form-check">
    <input class="form-check-input" name="group100" type="radio" id="radio101" onclick="fun2()"
    <label class="form-check-label" for="radio101">  How do I enable and monitor logs for my Amazon RDS MySQL instance?</label>
</div>

<!--https://aws.amazon.com/premiumsupport/knowledge-center/rds-mysql-logs/-->

<div class="form-check">
    <input class="form-check-input" name="group100" type="radio" id="radio102" onclick="fun3()"
    <label class="form-check-label" for="radio102">  How do I resolve problems with my Amazon RDS MySQL DB instance using more storage than expected?</label>
</div>

<div class="form-check">
    <input class="form-check-input" name="group100" type="radio" id="radio103" onclick="fun4()"
    <label class="form-check-label" for="radio103">  How do I connect to my RDS instance running MySQL using MySQL Workbench?</label>
</div>
</div>
<!--https://aws.amazon.com/premiumsupport/knowledge-center/rds-mysql-storage-optimization/-->


<!--div class="form-check">
    <input class="form-check-input" name="group100" type="radio" id="radio104" onclick="fun5()">
    <label class="form-check-label" for="radio104">How do I resolve problems connecting to my Amazon RDS database instance?</label>
</div>-->

<!--https://aws.amazon.com/premiumsupport/knowledge-center/rds-cannot-connect/-->


<!--<div class="form-check">
    <input class="form-check-input" name="group100" type="radio" id="radio105" onclick="fun6()">
    <label class="form-check-label" for="radio105">How do I manage logs in Amazon RDS MySQL?</label>
</div>-->

<!--https://www.youtube.com/watch?v=Cjw6tmNSZ0E-->

<div class="col-md-6">
  <iframe class="browser1" style="color: black; text-align: justify; font-size: 16px;"> </iframe>
</div>
</div>

<!--http://www.titiapps.com/aws-knowledge-center-videos-how-do-i-manage-logs-in-amazon-rds-mysql/-->


<div class="f1" style="color:white; position: fixed;">
      <footer class="site-footer row" style=" background: black; padding-left: 20px;">
       <div class="col-md-6"> <h3>Contact us<br></h3>
          <p>  Email: abc@amazon.com<br>
               Mobile no: +919906810610,+919797108430</p>
       </div>
       <div class="col-md-6" style="text-align: right; padding-right: 50px; padding-top: 20px;">
        <a style="padding-right: 20px; color: white;" href="{% url 'mod1:rdsadvan' %}">Why RDS?</a>
        <a style="color: white;" href="{% url 'mod1:database' %}">Advantages of Database in cloud</a>
       </div> 
      </footer>
    </div>


{% endblock %}
