{% extends 'mod1/base3.html' %}
{% block body %}
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/NxaZYMuRMGo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
               </div>
            </div>    
            <div style="font-size: 20px; text-align: justify;">  
                The word oracle comes from the Latin verb ōrāre "to speak" and properly refers to the priest or priestess uttering the prediction. In extended use, oracle may also refer to the site of the oracle, and to the oracular utterances themselves, called khrēsmē (χρησμοί) in Greek.<br/>

                Oracles were thought to be portals through which the gods spoke directly to people. In this sense they were different from seers (manteis, μάντεις) who interpreted signs sent by the gods through bird signs, animal entrails, and other various methods.<br/>

                The most important oracles of Greek antiquity were Pythia, priestess to Apollo at Delphi, and the oracle of Dione and Zeus at Dodona in Epirus. Other temples of Apollo were located at Didyma on the coast of Asia Minor, at Corinth and Bassae in the Peloponnese, and at the islands of Delos and Aegina in the Aegean Sea.<br/>

                The Sibylline Oracles are a collection of oracular utterances written in Greek hexameters ascribed to the Sibyls, prophetesses who uttered divine revelations in frenzied states.<br/>  
                <h3>The major Oracle versions, with their latest patch-sets are:</h3>

               <li>Oracle 7: ... - 7.3.4.5</li>
               <li>Oracle 8: 8.0.3 - 8.0.6</li>
               <li>Oracle 8i: 8.1.5.0 - 8.1.7.4</li>
               <li>Oracle 9i (Release 1): 9.0.1.0 - 9.0.1.4</li>
               <li>Oracle 9i (Release 2): 9.2.0.1 - 9.2.0.8</li>
               <li>Oracle 10g (Release 1): 10.1.0.2 - 10.1.0.5</li>
               <li>Oracle 10g (Release 2): 10.2.0.1 - 10.2.0.5</li>
               <li>Oracle 11g (Release 1): 11.1.0.6 - 11.1.0.7</li>
               <li>Oracle 11g (Release 2): 11.2.0.1 - 11.2.0.4</li>
               <li>Oracle 12c (Release 1): 12.1.0.1 - 12.1.0.2.0</li>
               <li>Oracle 12c (Release 2): 12.2.0.1 - 12.2.0.1.0</li>

               If running on one of the above releases, it is recommended to always install the latest patch-set. <br/>
               According to a Gartner 2016 study, companies that use Oracleare satisfied with the hardware and software products because it eases deployment and database management. Oracle customers are also pleased with, “the stability of Oracle’s engineered systems”.

               As companies are adopting cloud and computing software and applications, Oracle is shifting its software and making it available to download in a subscription model. Instead of building new technology in-house, they have spent $50B to acquire 90 to 100 companies in the past 10 years.<br/>

               <h3>Target Industry</h3>

               Oracle has made key acquisitions to grow their suite of products and services. Here we dive deeper into the acquisitions Oracle made in the past decade to achieve 20% market share in the retail technology industry.<br/>

               <li> Key Retail Acquisitions</li>
               <li> MICROS Systems, June 2014 for $5.3billion</li>
               <li> 360Commerce, January 2006 for an undisclosed amount</li>
               <li> ProfitLogic, July 2005 for $160million</li>
               <li> Retek Inc., April 2005 for $630million</li>
                <li>PeopleSoft, January 2005 for $10.3billion</li>

                According to a US market study in 2015 by Lee Holman and Greg Buzek:

               <li> Retail sales are up 2.6%</li>
               <li> GDP has risen 14.8% since the 2008 downturn</li>
                <li>Unemployment rate 5.3%, lowest since the 1970s</li>

               Of the companies listed in the Fortune 100 for 2015, 9 of them are retailers: Walmart (1st), Costco (18th), Amazon (29th), Home Depot (33rd), Target (36th), Google (40th), Lowe’s (50th), Best Buy (77th) and Sears Holdings (99th). Of these companies, only two (Amazon and Target) were not profitable for 2015. The largest threat to retailers is the fact that retailer systems and IT are dated when compared to retail and technology giant Amazon. Retailers are paying close attention and dedicating resources to improving their IT systemsand improving customer experiences within their stores and online.

          {% endblock %}