{% extends 'mod1/base3.html' %}
{% block body %}
 <div class="container" style="background-color: #383838;">
    <div class="row" style="color: white; margin-top: 70px;font-size: 18px;">
   <div class="col-md-6">
      <div class="embed-responsive embed-responsive-4by3" >
          <iframe width="560" height="315" src="https://www.youtube.com/embed/AUvn49gey8Y" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
       </div>   
      <div>
          <div style="text-align: justify; margin-right: 20px; margin-left: 20px;">
             Amazon Redshift is a fast, fully managed data warehouse that makes it simple and cost-effective to analyze all your data using standard SQL and your existing Business Intelligence (BI) tools. It allows you to run complex analytic queries against petabytes of structured data, using sophisticated query optimization, columnar storage on high-performance local disks, and massively parallel query execution. Most results come back in seconds. With Amazon Redshift, you can start small for just $0.25 per hour with no commitments and scale out to petabytes of data for $1,000 per terabyte per year, less than a tenth the cost of traditional solutions.<br/>

               Amazon Redshift also includes Redshift Spectrum, allowing you to directly run SQL queries against exabytes of unstructured data in Amazon S3. No loading or transformation is required, and you can use open data formats, including Avro, CSV, Grok, Ion, JSON, ORC, Parquet, RCFile, RegexSerDe, SequenceFile, TextFile, and TSV. Redshift Spectrum automatically scales query compute capacity based on the data being retrieved, so queries against Amazon S3 run fast, regardless of data set size. <br/> 
               <b><h2>Amazon Redshift Spectrum</h2></b>
               Amazon Redshift Spectrum enables you to run Amazon Redshift SQL queries against exabytes of data in Amazon S3. With Redshift Spectrum, you can extend the analytic power of Amazon Redshift beyond data stored on local disks in your data warehouse to query vast amounts of unstructured data in your Amazon S3 “data lake” -- without having to load or transform any data. Redshift Spectrum applies sophisticated query optimization, scaling processing across thousands of nodes so results are fast – even with large data sets and complex queries.<br/>

               Redshift Spectrum directly queries data in Amazon S3 using the open data formats you already use, including Avro, CSV, Grok, Ion, JSON, ORC, Parquet, RCFile, RegexSerDe, SequenceFile, TextFile, and TSV. Since Redshift Spectrum supports the same SQL syntax of Amazon Redshift, you can run sophisticated queries using the same Business Intelligence (BI) tools you use today. You can also run queries that span both the frequently accessed data stored locally in Amazon Redshift and your full data sets stored cost-effectively in Amazon S3.<br/>

               Redshift Spectrum gives you the freedom to store your data where you want, in the format you want, and have it available for processing when you need it. There are no up-front payments or commitments with Redshift Spectrum; you only pay for the queries you run.<br/>
              <b> <h2>Customers</h2></b>
               Liberty Mutual Insurance, 4Cite, Brandverity, DNA etc.
                
     </div>
    </div>
   </div>
  </div>

   <div class="f1" style="color:white;">
      <footer class="site-footer row" style=" background: black; padding-left: 20px;">
       <div class="col-md-6"> <h3>Contact us<br></h3>
          <p>  Email: abc@amazon.com<br>
               Mobile no: +919906810610,+919797108430</p>
       </div>
       <div class="col-md-6" style="text-align: right; padding-right: 50px; padding-top: 20px;">
        <a style="padding-right: 20px; color: white;" href="#">Why RDS?</a>
        <a style="color: white;" href="#">Advantages of Database in cloud</a>
       </div> 
      </footer>
    </div>
           

           
       
       
   {% endblock %}



















