{% extends 'mod1/base1.html' %}

{% block body %}
<body>
   <div class="container" style="color: orange;">
     <div class="row">
        <div class="col-md-6 col-md-offset-3" id="form">
            <center><b class="registration">Registration Form</b></center>  <br/>

        
            <div style="margin-left: 150px;"> <form method="post">{% csrf_token %}
             {% for field in form %}

              <div>
                {{ field.label_tag  }} <p style="color: black;"> {{ field }}</p>
              </div>
              {% if field.help_text %}
              <!--  <small style="color: chartreuse">{{ field.help_text }}</small>-->
              {% endif %}
              {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
              {% endfor %}
              </p>
              {% endfor %}
              <div style="margin-left: 40px;"><button type="submit" style="color: black;">Sign up</button></div>
              </form>
            </div>
         </div>
    </div>
  </div>
 </body>
{% endblock %}  