{% extends 'mod1/base1.html' %}

{% block body %}
<body>
   <div class="container">
     <div class="row">
        <div class="col-md-6 col-md-offset-3" id="form">
            <center><b class="registration">Registration Form</b></center>

        
          <form method="post">{% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: yellow">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>

        </div>
      </div>
    </div>
 </body>
{% endblock %}  